.wrap {
  padding: 10px;
  margin: 10px;
  background-color: #7574b0;
  color: #fbfbfb;
  border-radius: 3px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.xBox {
  position: absolute;
  color: #fbfbfb;
  opacity: 0;
}
