.wrap {
  width: 100%;
  /* min-width: 700px; */
  height: 100%;
  overflow: auto;

  display: flex;
  justify-content: center;

  background-image: url(../../assets/images/back2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.centerWrap {
  /* background-color: silver; */
  width: 70%;
}

.topTitleContainer {
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: flex-start;
}
.topTitleBox {
  width: 300px;
  height: 100%;
  background-color: #eaeaea;
  border-radius: 0 0 3px 3px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.topTitle {
  margin: 0;
  padding: 0 0 8px 24px;
}

.contentContainer {
  width: 100%;
  height: calc(100% - 147px);
  margin-top: 15px;
  overflow: auto;

  background-color: #eaeaeaea;
  border-radius: 3px 3px 0 0;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .centerWrap {
    width: 100%;
  }
}
