.wrap {
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: 15px 0 50px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  flex: 1;
  min-width: 200px;
  /* height: 100%; */
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoContainer {
  flex: 2;
  min-width: 200px;
  /* background-color: green; */
  height: 200px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infoSection1 {
  width: 100%;
}
.infoSection1 p {
  padding: 0;
  margin: 0;
  text-align: justify;
}
.infoSection1 ul {
  margin-top: 5px;
}
.btnContainer {
  flex: 0.6;
  height: 100%;
  /* background-color: yellow; */

  display: flex;
  align-items: center;
}

.btnDetail {
  width: 100%;
  padding: 10px 0;
  background-color: #45518e;
  text-align: center;
  border-radius: 2px;
  text-decoration: none;
  color: #fbfbfb;
}

.techContainer {
  width: 100%;
  height: 30px;
}
.imgTech {
  height: 30px;
  margin-right: 20px;
}

.projectImg {
  display: block;
}

@media screen and (max-width: 768px) {
  .wrap {
    height: 150px;
  }
  .imgContainer {
    /* flex: 0; */
    min-width: 0;
    flex: 0;
  }
  .projectImg {
    display: none;
  }
}
